.gradientTransition {
    opacity: 0.0;
    transition: opacity 500ms ease-in-out;
}
.gradientTransition-enter {
    opacity: 0.01;
    transition: opacity 500ms ease-in-out;
}

.gradientTransition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.gradientTransition-leave {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.gradientTransition-leave-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
